/* No Margin */
body{
    margin: 0;
    padding: 0;
}

/* Align Main Word*/
h1 {
    text-align: center;
    position: center;
    margin: 20px 0px 0px 0px;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Navigation styles */
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: sticky;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }

header {
    background: #FAEBD7;
}

section {
    background: red;
    padding: 20px;
}

p {
    margin: 0px;
}

footer {
    background: black;
    color: white;
    padding: 20px;
}


.Main {
    background: #FAEBD7;

}

#top-part {
  margin: auto;
  width: 25%;
  padding: 0px;

#image {
    margin: auto;
}

#name {
    margin: auto;
}

ul.Main {
    margin: auto;
}

.item{
    background: lightblue;
    color: white;
    padding: 10px;
}

.item:nth-child(even){
    background: blue;
}

.middletop{
    width: 90%
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wordshere{
    background: lightblue;
    color: white;
    padding: 10px;
    grid-column-gap: 20px;
}