body {
    margin: 0;
    padding: 0;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}

li{
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.6s ease;
}

li a:hover {
    background-color: #111;
}

header .logo img{
    background: red;
    width: 80px;
    height: 80px;
}

header .logo-name{
    display: inline;
    text-align: center;
}

.name {
    background: red;
    margin: none;
}
